@import url(chota.css);
/* icons from https://jam-icons.com/ and some from iconfinder*/
/* goal to host with GitLab Pages */
/* minimal chota css framework */
/* Eleventy as static site generator */

/* 

logo: slab serif, handwritten / script, or display font

primary font (draw most attention, heading / logo?)
secondary font (between primary and body)
tertiary font (body): clean simple sans-serif
accent font (decorative)
*/

:root {
    --color-primary: #9b91b3; /* brand color */
    --bg-color: #121212;
    --bg-secondary-color: #141414;
    --font-color: #ededed;
    --color-grey: #ccc;
    --color-darkGrey: #777;
    --color-lightGrey: #1f1f1f;
    --font-family-sans: 'Nunito', sans-serif;
    --font-family-header: 'Bahianita', sans-serif;
}

svg {
    color: var(--color-primary);
}

#site {
    padding: 0 0 60px;
}

.main {
    max-width: 600px;
    padding: 40px 20px 80px;
    margin: 0 auto;
}

.main_poetry {
    text-align: left;
    line-height: 2;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*min-height: 5rem;*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0 20px;
    background-color: var(--bg-secondary-color);
}

.header_text {
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bolder;
    margin: 0;
    font-family: var(--font-family-header);
}

h1 {
    text-align: left;
    text-transform: capitalize;
}

.nav {
    background-color: var(--bg-secondary-color);
    overflow: hidden;
}

.nav a {
    text-transform: uppercase;
    /* TODO: Use mono or sans-serif ? */
    font-family: var(--font-family-mono);
    color: var(--color-grey);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid var(--color-lightGrey);
    z-index: 1;
}

.sticky_main {
    margin: 50px auto 0;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer a {
  padding: 1rem 0.5rem;
  color: var(--color-darkGrey);
}

.copyright {
    padding-top: 10px;
}

/* Styling for image gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    max-width: 1300px;
    margin: auto;
    padding: 0 30px 140px 0;
}

.gallery_border {
    flex: 0 0 100%;
    justify-content: flex-end;
    background: var(--bg-color);
    border-right: 2px solid var(--color-lightGrey);
    position: relative;
}

@media (min-width: 700px) {
    .gallery__strip__wrapper {
        flex: 0 0 50%;
   }
} 

@media (min-width: 1000px) {
    .gallery__strip.one {
        transform: translateY(-1%);
   }
    .gallery__strip.three {
        transform: translateY(-1%);
   }
    .gallery__strip.two {
        transform: translateY(-1%);
   }
    .gallery__strip__wrapper {
        flex: 0 0 33.3%;
   }
}

.gallery_index {
    max-width: 500px;
}

.photo {
    position: relative;
    text-align: right;
    padding-bottom: 3rem;
    overflow: hidden;
}
.photo__image img {
    width: 90%;
    transform: translateX(30%);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    margin-top: -60px;
}

.photo__name {
    text-transform: uppercase;
    font-family: var(--font-family-header);
    font-size: 6rem;
    letter-spacing: 2px;
    color: transparent;
    white-space: nowrap;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--font-color);
    transition: 0.2s ease-in-out 0.2s;
    position: relative;
    width: 100%;
    z-index: 1;
}
.photo:hover .photo__image img {
    transform: translateX(0%);
}

.photo:hover .photo__name {
    color: var(--font-color);
}

/* -------------------------- */
