---
layout: layout.html
home: class="active"
title: Mikah Antonie
---
<main class="main" id="main_body">
    <h1>Welcome</h1>
            
    <p class="main_poetry">
        Join me here, <br> 
        in a small reflection of our shared humanity, <br>
        in an exploration of love and loss, <br>
        in the intricate emotions of grief. <br>

        <br>
        Thank you for your presence here, <br>
        may these words resonate with you, <br>
        and may you find solace in them.
    </p>

    <div class="gallery">
        <div class="gallery_border gallery_index">
            <div class="gallery__strip">
                <div class="photo">
                    <div class="photo__name">Poetry</div>

                    <div class="photo__image">
                        <a href="/poetry">
                            <img src="/img/poetry.jpg" alt="city reflected in sunglasses"/>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</main>