---
layout: poem.html
title: Plight • Mikah Antonie
header: plight
alt_img: small, rushing waterfall
---
the tightness in my chest <br>
home to an unwelcome guest <br>
<br>
the circles beneath my gaze <br>
grow darker each tear’s embrace <br>
<br>
the muscles in my jaw <br>
clenched, they turned raw <br>
<br>
each memory a stinging bite <br>
see my pain, hear my plight <br>
alone, I cannot fight                 
           