---
layout: poem.html
title: Starting Over • Mikah Antonie
header: starting over
alt_img: cityview of Alicante from hill
---
when will the pounding stop? <br>
begging me to open that door <br>
time and time again <br>
incessantly knocking <br>
no end in sight <br>
<br>
each page filled with pain <br>
bleeding out slowly <br>
my tears wet the paper <br>
<br>
can I start over? <br>
in someone else’s story <br>
where the sun still shines <br>
even when it rains <br>
to wake up as another <br>
without feeling the pain <br>
<br>
to relish in the silence <br>
without a single knock <br>
with no door to open <br>
no peering into the beyond
