---
layout: poem.html
title: Waiting • Mikah Antonie
header: waiting
alt_img: rocky beach with calm ocean
---
losing patience with waiting <br>
while I’m dancing with Satan <br>
he follows me till I break <br>
got me begging on my knees <br>
“please give me the keys” <br>
to these chains that keep me <br>
running in circles <br>
going insane <br>
stuck in this pain <br>
<br>
looking for a way out <br>
washed up on shore <br>
waiting for help <br>
<br>
I lay here <br>
suffocating <br>
<br>
does anyone hear me, <br>
screaming out all night? <br>
holding my breath all day <br>
a smile on my lips <br>
as tears salt my food <br>
<br>
eating becomes a gift <br>
limited to the days <br>
when he doesn’t stay <br>
<br>
I lay here <br>
starving
