<!DOCTYPE html>
<html lang="en">
     <head>
        <link rel="stylesheet" href="/css/bundle.css">

        <!-- Link Bunny Fonts for Bahianita (logo) and Nunito (body) family -->
        <link href="https://fonts.bunny.net/css2?family=Bahianita&family=Nunito&display=swap" rel="stylesheet"> 

        <!-- Trying to get gallery to work-->
        <link href="https://fonts.bunny.net/css?family=Fira+Sans:800&display=swap" rel="stylesheet">

        <!-- Favicons generated using realfavicongenerator.net -->
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/site.webmanifest">
        <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#9b91b3">
        <meta name="msapplication-TileColor" content="#141414">
        <meta name="theme-color" content="#ffffff">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- TODO: Update to depend on article page -->
        <!-- SEO -->
        <meta name="description" content="Mikah Antonie's online poetry portfolio about grief">
        <meta name="keywords" content="poetry, portfolio, grief, depression">
        <meta name="author" content="Mikah Antonie">

        <link rel="canonical" href="https://mikahantonie.gitlab.io">

        <!-- 
        TODO: Look into specifics for SEO 
        Facebook OpenGraph
        <meta name="og:title" property="og:title" content="Mikah Antonie's online poetry portfolio about grief">

        Twitter Cards
        <meta name="twitter:card" content="Mikah Antonie's online poetry portfolio about grief">
        -->


        <title>{{ title }}</title>
     </head>
     <body>
        <div id="site">
            <header class="header">
                <a class="brand" href="/.html">
                    <p class="header_text"> Mikah Antonie </p>
                </a>
            </header>

            <nav class="nav" id="navbar">
                <div class="nav-center">
                    <a href="/" {{ home }} >Home</a>
                    <a href="/poetry" {{ poetry }} >Poetry</a>
                    <a href="/about" {{ about }} >About</a>
                    <a href="/contact" {{ contact }} >Contact</a>                    
                </div>
            </nav>

            {{ content }}

            <footer class="footer">
                <div class="socials">
                    <a href="https://www.instagram.com/mikah.antonie/" target=”_blank” rel="nofollow">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width ="28" fill="currentColor"><g><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z" fill-rule="nonzero"/></g></svg>
                    </a>
                </div>
            </footer>
            <footer class="footer">
                <div class="copyright">
                    <p>
                        © 2024 - Mikah Antonie
                    </p>
                </div>
            </footer>    
        </div>


        <!-- Sticky Nav -->
        <script src="/js/navbar.js"></script> 

    </body>
</html>