---
layout: layout.html
poetry: class="active"
---
<main class="main" id="main_body">
    <h1> {{ header }}</h1>

    <div class="row">
        
        <div class="col">
            <p class="main_poetry">
                {{ content }}

            </p> 
        </div>

        <div class="col">
            <img src="/img/{{ header }}.jpg" alt="{{ alt_img }}"/>
        </div>
        </div>
</main>