---
layout: layout.html
title: About • Mikah Antonie
permalink: "about.html"
about: class="active"
---
<main class="main" id="main_body">
    <h1>About Me</h1>
    <p>
        Hi! I'm Mikah, a neutral good soul with chaotic tendencies. The words "impulsive" and "overthinker" sum me up awfully well. For as long as I remember, I have had a knack for diving into diverse hobbies and interests, jumping left and right. Some days, I find myself delving into the creative process through writing and painting. Other days, I find peace in the adreline-fueled activities of mountain biking, motorcycle riding, and boxing. Meanwhile, there are days where I find solace in the tranquility of yoga and the solitude of hiking.
    </p>
    <p>
        My education is of a similarly diverse nature. Diving into cultural studies, media studies, literature, sociology, entrepreneurship, sustainability, computer science... Anything that catches my interest must be devoured, till I lose interest and it turns into torment. 
    </p>
    <p>
        I would not be where I am today without the support of my mother. This website is dedicated to her.
    </p>
</main>