---
layout: layout.html
title: Contact • Mikah Antonie
permalink: "contact.html"
contact: class="active"
---
<main class="main" id="main_body">
    <div>
        <h1>Contact</h1>

        <p>
            Have a question, thoughts to share, or just want to say hi? I'd love to hear from you :) Find me on <a href="https://www.instagram.com/mikah.antonie/">Instagram</a>, and I'll get back to you as soon as possible. Your thoughts and reflections are always welcome! </p>
        <p>
            More contact options coming soon!
        </p>
    </div>
</main>
