---
layout: layout.html
title: Poetry • Mikah Antontie
permalink: "poetry.html"
poetry: class="active"
---
<main class="main">
    <div>
        <h1>Poetry</h1>
        <p class="main_poetry">
            Laying bare the wastelands inside <br>
            Opening up the hollow valleys <br>
            Exposing flesh and bone
        </p>
    </div>
</main>

<div class="gallery">
    <div class="gallery__strip__wrapper gallery_border">
        <div class="gallery__strip one">
            <div class="photo">
                <div class="photo__name">Plight</div>
                <div class="photo__image">
                    <a href="/poems/plight">
                        <img src="/img/plight.jpg" alt="small, rushing waterfall"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery__strip__wrapper gallery_border">
        <div class="gallery__strip two">
            <div class="photo">
                <div class="photo__name">Starting Over</div>

                <div class="photo__image">
                    <a href="/poems/starting-over">
                        <img src="/img/starting over.jpg" alt="cityview of Alicante from hill"/>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="gallery__strip__wrapper gallery_border">
        <div class="gallery__strip three">
            <div class="photo">
                <div class="photo__name">Waiting</div>

                <div class="photo__image">
                    <a href="/poems/waiting">
                        <img src="/img/waiting.jpg" alt="rocky beach with calm ocean"/>
                    </a>
                </div>
            </div>
        </div>
    </div> 
</div>